@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
    background: $secondary-color;
    color: white;
  }
}

a {
  color: set-text-color($primary-color);
  margin-right: 0.5rem;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    @include easeOut();
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    margin-right: 2rem;

    a {
      padding: 0.4rem;
      //   @include easeOut;
    }
  }

  &#work,
  &#contact {
    #heading {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.5;
      font-size: 7rem;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  &#contact {
    overflow: hidden;
    h1 {
      font-size: 4.75rem;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job3 job2";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: darken($primary-color, 5);
    padding: 1rem;
    border-bottom: $secondary-color 5px solid;
    text-align: left;

    h3 {
      font-size: 1.5rem;
    }

    ul {
      text-align: left;
      padding-inline-start: 1rem;
      list-style-position: outside;

      li {
        margin-bottom: 1rem;
      }
    }

    i {
      font-size: 4.2rem;
    }
  }

  // #tech-div {
  //   background-color: lighten($secondary-color, 35);
  // }

  .tech-list {
    list-style-type: none;
  }
}

.icons-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.8rem;
  grid-row-gap: 0.8rem;
  justify-items: center;

  .icon {
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

  .s-logo {
    width: 80%;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    height: 18vw;
    border: 3px white solid;
    margin-bottom: none;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin: auto;
  margin-bottom: 0.3rem;
  width: 98%;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: lighten($secondary-color, 30);
}

.btn-light {
  @extend .btn;
  background: lighten($secondary-color, 20);
  display: none;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

#contact {
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.ui.button {
  margin-top: 1rem;
  height: 3rem;
  background-color: white;
  border-color: $secondary-color;
  border-style: solid;
  border-width: thin;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

#resume {
  height: 80vh;
  margin-bottom: 30vh;
}

footer {
  .rlb {
    display: inline;
  }
}

@import "mobile";
